/*
=====================================================
		
		Typography  
	
=====================================================
*/	

body {
	font-family: "museo-sans", sans-serif;	
	line-height: 1.5;
	font-size: 13px;
	@include bp(small) {
	}
}

p {
	margin: 0 0 2em 0;
}

/* Headers */

h1, h2, h3, h4, h5, h6 {
  	font-family: "museo-sans", 'Droid Sans', sans-serif;
  	font-weight: 300;
	color: #666;
	clear: none;
	line-height: 1.25;
}

#hero h1 {
	font-weight: 100;
	font-size: 4em;
	padding: 0;
	margin: 0;
	line-height: 1.25;
	text-align: center;
}

blockquote {font-style: italic;}

pre {
    font-family: "Courier 10 Pitch", Courier, monospace;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
