html {
	background: url(images/always_grey.png) repeat;
	@include bp(small) {	
		background-image:		none;
	}
}

body {
	background: transparent;
	color: #666;
	overflow: scroll; /* force vertical scroll bar */
	@include bp(small) {	
		background-image:		none;
		margin: 				0;
		padding: 				0;
		}
}

#wrapper {
	overflow: hidden;
	background:url(images/double_lined.png) #fff;
	border-radius: 25px;
}

.section {
	max-width: 55em;
    margin: 3em auto 0 auto;
}
blockquote {
	padding: 1.5em 3em 1.5em 4em;
  background:url(images/quotes.png) 10px 17px no-repeat #ccc;
}

p {
	text-shadow: 1px 2px 3px #fff;
	}
blockquote p {
	text-shadow: 1px 1px 1px #ddd;
	}

/* Lists */

ol, ul {
	margin: 0;
	padding: 0 0 0 1.5em;
}

img {
	max-width: 100%;
	height: auto;
}

/* --- links ---*/

a.img{
	text-decoration: none; 
	border:none;
	}
	
a:link, a:visited {
	text-decoration:none; 
	color: #B30000;	
	}

a:hover, a:active {
	text-decoration: none;
	color: #777;	
	}


	
#branding img {
border-top: none;
border-bottom: none;
}




	
#access {
	background: #ddd;
	text-transform: lowercase;
	}

#access .menu-header,
div.menu {
    margin-left: 0;
}
#access .menu-header ul,
div.menu ul {
    list-style: none;
    margin: 0;
}	

.menu-header-container {
	height: 66px;
}


	
/* ------------------------------------------ 
													top menu
													----------------------------------------------------------------------------------------*/

	
.iphone-only-content {
	display: none;
	}
#skip-nav-link {
	text-align: right;
	margin-bottom: 17px;
	padding-right: 9px;
	font-size: 12px;
	}
#access li {


}

 #access li a {
	border-top: 1px solid #ccc;
	}
	
#access .menu-header li,
div.menu li {
float: left;
}

#access li:hover > a,
#access ul ul :hover > a {
	background-color: transparent;
	color: #444;
	border-top: 2px solid #333;
}	
#access ul li.current_page_item > a,
#access ul li.current-menu-ancestor > a,
#access ul li.current-menu-item > a,
#access ul li.current-menu-parent > a {
	color: #444;
	border-top: 1px solid #000;
}
* html #access ul li.current_page_item a,
* html #access ul li.current-menu-ancestor a,
* html #access ul li.current-menu-item a,
* html #access ul li.current-menu-parent a,
* html #access ul li a:hover {
	color: #444;
}

#access a {
    color: #aaa;
    display: block;
    line-height: 15px;
    padding: 0;
    text-decoration: none;
}

#menu-item li {
	}
	
/* Site title */
	
#site-title {
	margin: 15px 0;
	padding: 0;
	float: left;
	width: 150px;
	height: 138px;
	
	a {
		display: block;
		background: url(images/logo.png) no-repeat;
		width: 150px;
		height: 138px;

		&:hover {
			opacity: .7;
		}

		&:active {
			opacity: .5;
		}
	}

}




.post_home {
	margin: 0;
	}

.entry-meta {
    position: relative;
	margin-bottom: 1.5em;
	}

.meta-text {
	margin-left: 37px;
	}
	
div.spacer {
	clear: both;
	}

	
/* ------------------------------------------ 
													Portfolio Resource Grid 
													----------------------------------------------------------------------------------------*/

#resource-grid {
	width: 900px;
	}
/* - -	
#resource-grid a:link, #resource-grid a:visited {text-decoration:none; color: #777;}
#resource-grid a:hover {text-decoration: underline;}
#resource-grid a:active {} --*/

#resource-content {
	border-bottom: 1px solid #ccc;
	}
#resource-navigation-bar {
	margin: 0;
	padding: 0;
	font-size: 11px;
	}

#resource-navigation-list {
	margin: 0;
	padding: 0;
	float: left;
	}

ul#resource-navigation-list {
	margin: 0;
	}
	
#resource-navigation-list li {
	display: inline;
	list-style-type: none;
	padding-left: 20px;
	}
	
#resource-grid-content {
	width: 134px;
	float: left;
	font-size: 11px;
	padding: 2px;
	margin: 0 21px 42px 0;
	overflow: hidden;
	}
	
#resource-grid-content p{
	line-height: 11px;
	text-align: left;
	}
	
p.resource-title {
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 12px;
	}		
	
p.resource-author {
	margin: 0;
	padding: 0 0 1em 0;
	}	

#resources-search-box {
	float: right;
	}

	

.widget-area {
	padding-left: 11px;
	}
	
.widget-container {
	margin: 0;
	padding: 15px 0 18px 0;
	border-top: 2px solid #EEE;
	border-bottom: 1px solid #ccc;
	}

.widget-container li {
		list-style-type: none;
		}
		
.widget-container:last-child {	
	border-bottom: none;
	}
	
.widget-container:first-child {	
	border-top: none;
	padding-top: 0;
	}

#title-meta {
	margin: 0 0 7px 0;
	padding: 0;
	font-size: 11px;
	}	

#title-meta p{
	margin: 0;
	padding: 0;
	}	
	
#custom-post-the-content {
	line-height: 1.8;
	text-align: justified;
	}		

/* --- Purchase Call to Action ---*/
	
#purchase{
	font-size: 11px;
	padding: 10px;
	width: 123px;
	background:url(images/.png) #ccc;
	overflow: hidden;
	border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
	}	
	
#purchase p {
	line-height: 1;
	margin: 3px;
	}	

#purchase-button {
	width: 91px;
	font-size: 18px;
	margin: 7px auto;
	
	}
	
#purchase a {
	text-decoration:none; 
	padding: 7px;
	}	

#purchase a:link, #purchase a:visited {
	text-decoration: none;
	background-color: #B30000;
	color: #fff;
	}		

#purchase a:hover {
	text-decoration: none;
	background-color: 	#000;
	color: #fff;
	}

#purchase a:active {
	text-decoration: none;
	background-color: 	#000;
	color: #fff;
	}		


	
/*---- testimonials --*/

#testimonial {
	margin: 0 15px 15px 0;
	padding: 5px;
	width: 342px;
	border: 1px dashed #777;
	float: left;
	}

.testimonial-text {
	font-size: 13px;
	padding: 0 0 0 35px;
	text-align: left;
	line-height: 22px;
	background: url(images/quote.png) no-repeat;
	}
.testimonial-image {
	width: 50px;
	margin: 0 0 0 13px;
	float: right;
	}	
p.test-name {
	margin: 0;
	padding: 0;
	text-align: left;
	font-style: italic;
	font-size: 12px;
	color: #777;
	}
#creative {padding-bottom:1em;}
/* =============================================================================
    Footer
    =========================================================================== */
span#back-to-top {
	display: none;
	}

#footer {
 margin: 0;
}

#footer a:link, #footer a:visited {
	text-decoration:underline; 
	color: #777;
	}

#footer a:hover, #footer a:active {
	text-decoration:none; 
	color: #333;
	}
	
#colophon {
    width: 100%;
	margin: 0;
	border-top: 2px solid #EEE;
    overflow: hidden;
    padding: 11px 0;
}
span#tagline {
		text-align: center;
		display: block;
		margin-bottom: 17px;
		float: left;
		}
#site-generator {
	float: none;
	width: auto;
	}

#site-info a {
    color: inherit;
    text-decoration: inherit;
}
	
#site-generator a {
    background: url(images/wordpress.png) center right no-repeat;
	padding-left: 0;
	padding-right: 20px;
	}

#site-info {
	margin: 0 auto;
	text-align: center;
	font-weight: normal;
	font-size: 11px;
	float: none;
	width: auto;
	}
#site-info ul {
	float: left;
	width: 470px;
	}
#site-info li {
	list-style-type: none;
	width: 106px;
	float: left;	
	display: inline;
	margin-right: 45px;
	}
	
span#designer-logo {
		display: block;
		width: 151px;
		height: 10px;
		float: right;
		padding-top: 3px;
	}
li#designer-logo  {
	width: 151px; 
	height: 10px; 
	display: block;
	}
#designer-logo a{
	width: 151px; 
	height: 10px; 
	color: #333; 
	text-decoration: none;
	padding: 0;
	display: block;
	}
#designer-logo a:link, #designer-logo a:visited { 
	background: url("images/logo-sprite.png") no-repeat;
	}
#designer-logo a:hover {
	color: #000000;
	background-position: 0 -10px;
	}
#site-info li a{
	padding-left: 20px;
	}
	
li#tagline a{
	background: url(images/icon.jpg) center left no-repeat;
}
li#rss a{
	height: 16px;
	background: url(images/rss.png) center left no-repeat;
	}	
	
li#facebook a{
	display: block;
	float: left;
	width: 29px;
	height: 50px;
	background: url(images/facebook.png) center left no-repeat;
	}	
	
li#twitter a{
	display: block;
	float: left;
	width: 75px;
	height: 50px;
	background: url(images/twitter.png) center left no-repeat;
	}

li#facebook a:hover,
li#twitter a:hover {
	opacity: .77;
}	
	
/*------------------- sidebar --------------------------*/
#sidebar {
	padding: 0;
	width: 220px;
	float: right;
	overflow: hidden;
	}
#hidden-menu {
	display: none;
	}
/*------------------ resource previous/next navigation -----------------------*/
#top-browse {
	border-bottom: 1px solid #ccc;
	}	
.next-post {
	float: right;
	}
#content h1 {

}
/*--------------------- Recent Resources -----------------------*/	

#recent-resources {padding-top: 5px;	padding-bottom: 25px;}

.recent-resources-content {
	width: 24%;
	height: 300px;
	float: left;
	font-size: 11px;
	padding: 1%;
	margin: 0;
	line-height: 16px;
	margin-right: 9%;
	margin-bottom: 1%;
}

.recent-resources-content:last-child(5n+5) {
	margin-right: 0;
}

.recent-resources-content .resource-thumb a {
	display: block;
}

.recent-resources-content .resource-thumb a img {
	width: 100%;
	height: auto;
}

#content .recent-resources-content p.resource-title,
#content .recent-resources-content p.resource-author {
	margin-bottom: 0;
}

/*-------------- entry title -----------------*/
#content .entry-title {
	color: #777;
	padding-bottom: 1em;
	padding-top: 1em; /* remove this when small resource bar is active */
	}

.entry-title a:link,
.entry-title a:visited {
	text-decoration:none; 
	color: #B30000;	
}
.entry-title a:active,
.entry-title a:hover {
	text-decoration: none;
	color: #777;	
	
}

/* Forms */

input,
textarea {
    background: rgba(0,0,0,.1);
    border: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    padding: 10px 2%;
	margin: 0;
	font-size:	1em;
	width: 100%;
}

input[type="submit"] {
 	background: rgba(0,0,0,.2);
	width: auto;

	&:hover {
 		background: rgba(0,0,0,.3);
	}

	&:active {
 		background: rgba(0,0,0,.5);
	}
		
}

.page-link a:active,
.page-link a:hover {
	color: #777;
}

.entry-meta a:hover,
.entry-utility a:hover {
	color: #777;
}

.navigation a:active,
.navigation a:hover {
	color: #777;
}

.comment-meta a:active,
.comment-meta a:hover {
	color: #777;
}

.reply a:hover,
a.comment-edit-link:hover {
	color: #777;
}

#respond .required {
	color: #777;
	font-weight: bold;
}

.widget_rss a.rsswidget:hover {
	color: #777;
}



#post-list {
	width: 580px;
	}
	
.post-list {
	float: left;
	line-height: 1.25;
	height: auto;
	margin-bottom: 10px;
	font-size: 12px;
	}
	

	

#post-list-date {
	width: 145px;
	margin-right: 20px;
	}
	
#post-list-title {
	width: 300px;
	height: auto;
	}

.title-meta {
	font-size: 11px;
	width: 145px;
	/* border-right: 1px solid #ccc; */
	margin-right: 20px;
	}
	
.title-meta p {
	margin-bottom: 21px;
	}
.title-meta h4 {
	margin-bottom: 0;
	}
	
.meta-title  {
	font-size: 13px;
	margin-bottom: 0;
	}
	
.meta-tags p {
	margin-bottom: 21px;
	}

#thumbnail {
	margin-right: 10px;
	width: 145px;
	}

#recent-resources-content-small {
    width: 50px;
	height: 50px;
    float: left;
    padding-bottom: 21px;
    margin: 0 21px 0 0;
    }
	
#recent-resources-small {
    min-height: 70px;
	margin-bottom: 5px;
	border-bottom: 1px solid #ccc;
	padding-top: 21px;
    }
	
#entry-edit-region {
	border-top: 2px solid #eee;
	padding-bottom: 1em;
	}
	
#respond {
    padding-top: 21px;
    overflow: hidden;
    position: relative;
	margin: 0;
	}

	

#main .widget-area ul ul {
    margin-left: 0;
}

.entry-content,
.entry-summary {
    clear: both;
    padding: 0;
}

#content ol {
	margin: 5px 0 5px 21px;
	}
	
#respond .form-allowed-tags {
    display: none;
}

body.page .edit-link {
    clear: both;
    display: none;
}

#more-link {
	width: 60px;
	float: right;
	font-size: 12px;
	vertical-align: top;
	line-height: 10px;
	text-align: right;
	}
	
h2#blog-title  {
    color: #777;
	font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    margin: 21px 0;
	text-shadow: 0px 3px 3px #fff;
	}

/* -------------- Floats --------------- */
	
.floatleft {
	float: left;
	}
	
.floatright{
	float: right;
	}

.purchase-option {
	float: left;
	}
	
.purchase-format {
	background: #555;
	color: #f2f2f2;
	font-size: 12px;
	padding: 3px;
	margin-right: 5px;
	}

.purchase-link {
	font-size: 12px;
	padding: 3px;
	margin-right: 25px;
	}

/* ------------- title-block --------------*/

#title-block {
	}
	
#title-block p{
	/*font-size: 11px;*/
	}
	
#data-block {
	/* background: #aaa; */
	padding: 11px 0;
	border-top: 2px solid #eee;
	border-bottom: 1px solid #ccc;
	}
	
a.downloadlink{
	font-size: 12px;
	margin: 0 auto;
	}

/* ------------- download monitor plugin styling -------------- */
a.downloadlink {font-size: 100%;}	
#downloads {
	margin: 0;
	width: 500px;
	padding: 7px 0;
	}

a.downloadlink:link,
a.downloadlink:visited {
	}
	
a.downloadlink:hover,
a.downloadlink:active {
	}
/*
=====================================================
		
		ReCaptcha  
	
=====================================================
*/
#content table {
	border:						none !important;
}
.recaptchatable #recaptcha_image {
	border:						none !important;
}
.recaptchatable, 
#recaptcha_area tr, 
#recaptcha_area td, 
#recaptcha_area th {
	border:						none;
}
#content table #recaptcha_table {
	border:						none !important;
}	
.recaptchatable  {
	border:						none !important;
}	
/* ------------- content block -------------- */

#content-block {

	border-bottom: 1px solid #ccc;
	}
#authors a{
	font-size: 14px;
	color: #666;
	text-decoration: underline;
	}
#prices ul {
	margin: 0;
	margin-top: 9px;
	padding: 0;
	font-size:1.25em;
	color: #333;	
	}	
#prices li {
	padding-right: 15px;
	display: inline;

	}
#purchase-link {	
	font-size: 13px;
	}
#purchase-options {
	padding: 7px 15px 5px 15px;
	background: #ccc;
	background: rgba(0, 0, 0, 0.2);
	margin-bottom: 15px;
	text-align: left;
	}

#purchase-options h2{
	color: #f2f2f2;
	text-shadow: none;
	}
#purchase-links ul {
	margin: 0;
	padding: 5px 0;
	border-top: 1px solid #ccc;
	color: #333;
	text-align: left;
	}	
#purchase-links li {
	padding-right: 15px;
	display: inline;
	}
li#title{
	color: #666;font-size: 14px;
}
#purchase-link {
	padding: 7px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid #ccc;
	}

/* ------------- resource image -------------- */

#resource-image {
	width: 250px;
	height: 354px;
	margin-left: 3%;
	margin-bottom: 1em;
	float: right;

	img {
		width: 100%;
		height: auto;
	}

	@include bp(small) {
		float: left;
		margin-left: 0;
		width: 100px;
		height: auto;
		margin-right: 3%;
	}
	
}

#textual-content-block {

	}	
		
#textual-content-block h2{
	clear: none;
	}
	
#primary {
	width: 30%;
	padding: 21px 0 0 0;
	}
	
#nav-above {
    padding-top: 21px;
	}

.wp-post-image {	
	border: none;
    box-shadow: 0;
    -moz-box-shadow: 0;
    -webkit-box-shadow: 0;
	}
	
.hentry {
    margin: 0;
	padding-bottom: 27px;
	}

#respond input#submit { /* "Post Comment" button on Comments form */
	width: 140px;
	}

#subscribe-form label {
	margin-bottom: 10px;
}

#subscribe-form input[type=submit] {
	margin-top: 10px;
	float: right;
}


/* =============================================================================
     Latest Post on Home Page
     ========================================================================== */

.latest {
	text-align: justified;
	position: relative;
	}

#latest-post {
	border-top: 1px solid #CCC;
	}
	
.attachment-homepage-thumb {
	position: relative;
	float: left;
	margin: 0 11px 11px 0;
	}

#latest-post-excerpt h3 {
	margin-bottom: 0;
	}
#latest-post-excerpt {
	}

#latest-post-excerpt p {
	font-size: 14px;
	line-height: 20px;
	}
	
#latest-post-meta {
	color: #333;
	font-size: 12px;
	margin-bottom: 1.5em;
	}
	
#latest-read-more {
	text-transform: uppercase;
	font-weight: bold;
	width: 150px;
	text-align: right;
	float: right;
	}
#more-info {
	font-size: 12px;
	}
#featured {
	position: absolute;
	top: 0;
	left: 0;
	width: 150px;
	z-index: 1000;
	}
#iphone-footer {display: none;}

.avatar {
	display: block;
	margin-right: 5px;
	position: absolute;
	top: -5px;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}


/*
=====================================================
		
		Media queries
	
=====================================================
*/

	



@media only screen and (max-width: 540px), only screen and (max-device-width: 540px) {
	
	/* iPhone Lists */
		
		#main .widget-area ul {
			padding: 			0;
		}
		#main .widget-area ul ul li {
			list-style-type: 			disc;
			list-style-position: 		inside;
			line-height:				1.25em;
			padding-bottom:				1.25em;
		}
		#main .widget-area ul ul li:last-child {
			padding-bottom:				0;
		}
				
		#header-image img {
	padding: 0;
}
		
	/* iPhone Sidebar */
		
		#cpi-s1-1001 { /* The Round Shop */
			margin: 0 auto;
		}
			
	/* Content */
		
		#access .menu-header,
		div.menu,
		#branding,
		#main {
			margin: 17px auto;
			width: 100%;
			}
	

	#facebook {
			position: absolute;
			left: 25px;
			bottom: -5px;
			z-index: 1000;
			}

	/* Cover Images Content */
	
		#recent-resources {
			border-bottom:		none;
		}
		.recent-resources-content {
			width: 				100%;
			height:				auto;
			margin:				0 0 2em 0;
			padding:			0 0 2em 0;
		}
		.resource-meta {
			height: 			auto;
		}
		#coming-soon-in-labs {
			display:			none;
		}
	
	/* Titles Pages */
	
		#purchase-options {
			text-align:			center;
		}
		#purchase-links ul {
			border-top: 		3px solid #CCC;
			text-align: 		center;
		}
	
	/* Comments and Recaptcha */

	#recaptcha_area {
		background: #ddd;
	}
	
	.recaptchatable .recaptcha_image_cell {
		background-color: transparent;
	}
	
	.recaptchatable #recaptcha_image {
		margin: 0;
		padding: 0;
		border: none !important;
	}
	
	#recaptcha_image img {width: 100% !important;padding: 0;}
	#recaptcha_area td {
		width: 100%;
	}

	
	/* Downloads */
	
		#downloads {
			margin: 			0;
			width: 				100%;
			padding: 			7px 0;
			text-align:			center;
		}
		#downloads p {
			margin: 			0;
			padding: 			0;
		}
		img.download-icon {
			width:				auto;
		}

	



		#content ol {
			margin: 			0;
		}
	

	
	

	
		#iphone-footer {
			display: 					block;
		}
		
	/* Back to top link */
	
	#back-to-top a {
		margin: 1em auto;
		width: 						50%;
		padding:					.77em 0;
		display:					block;
		background:					rgba(0,0,0,.2);
	}
	
	#back-to-top a:link, 
	#back-to-top a:visited {
		color: #fff;		text-decoration: 			none; 
		text-shadow: 				none;
	}
	
	#back-to-top a:hover, 
	#back-to-topa:active {
		background:					#aaa;
		text-shadow: 				0px 3px 3px #bbb;
		text-decoration: 			none; 
	}

		img#wpstats {
    display: block;
    margin: 0 auto 10px;
}

	
	#hidden-test-menu {
		text-align: 					center;
	}
	
	#hidden-test-menu  select{
		padding :						5px 0;
		width: 							70%;
		margin-bottom:					15px;
	}

	ul#menu-header-1, ul#ie-menu {margin: 0;}

	#navlist li a {
		text-decoration: none;
		border-top: 0;
		writing-mode: tb-rl;
		-webkit-transform: rotate(0deg);  
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg); 
		font-size: 18px;
		width: auto;
		height: auto;
		margin-right: 10px;
		}
	ul.children {
		display: none;
		}
	#navlist li a:hover {
		border-top: none;
		}

	span#tagline {
		text-align: center;
		padding: 0;
		font-size: 12px;
		display: block;
		margin-bottom: 7px;
		float: none;
		}
	#site-info li {
		list-style-type: none;  
		display: block;
		margin: 7px;
		}
	span#back-to-top {
		width: 100px;
		display: block;
		float: right;
		font-size: 12px;
		padding-top: 5px;
		margin-right: 7px;
		text-align: right;
		}
		span#back-to-top a:link,  span#back-to-top a:active {
			text-decoration: none;
			}
	
	.widget-title {
		font-size: inherit;
		}
	.iphone-only-content {
		display: block;
		}
	.post-list {
		font-size: inherit;
		}
	

	
	#hidden-menu {
		display: block;
		margin-bottom: 17px;
		}
	
	#top {position: absolute; top: 0; left: 0;}
	
	.entry-meta, .entry-utility {
		font-size: inherit;
		line-height: inherit;
		}
	#hidden-test-menu {
	display: block;
	padding: 7px 0;
	}
	#test-menu {
	display: none;
	}
	


	
	/* Search Boxes */

	#mobile-search {
		width: 							100%;
		margin: 						0 auto;
	}
	
	.widget-area {
		padding: 0;
		}
	.paged #nav-above, .single #nav-above {
		display: none;
		}

	#fullpage-footer {display: none;}
	#purchase-links li {
	padding-right: 15px;
	display: block;
	}
	

	
	.recent-resources-content {
		font-size: 1em;
		width: 100%;
		min-height: 0;
		float: none;
	}

	

	
	.recent-resources-content .resource-thumb {
		float: left;
		width: 30%;
	}

	
	.resource-meta {
		width: 60%;
		height: auto;
		float: right;
	}

	
}

#fullpage-footer {line-height: 120%;}
#fullpage-footer-list {width: 90%;text-align:center;margin: 11px auto;list-style-type: none;}
#fullpage-footer li{display: inline;padding-right: 11px;}
