/* Archive pages */

.archive-item {
	
	border-bottom: 1px solid #ccc;
	padding-bottom: 1em;
	margin-bottom: 1em;

	p {
		width: 81%;
		float: left;
		@include bp(small) {
			display: none; /* Hide the excerpt */
		}
	}	
	
	h3 {
		margin: 0;
		padding: 0;
		float: left;
	}

	img {
		width: 100%;
		height: auto;
		float: left;

	}

	a.image {
		display: block;
		float: left;
		width: 16%;
		margin-right: 3%;
	}

}
